html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: border-box;
}
img {
    display: block;
    max-width: 100%;
}
h1, h2, h3, h4, h5, p {
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    font-family: "Roboto";
    font-weight: 400;
}
.container {
    max-width: 1150px;
    margin: 0 auto;
}
:root {
    --background-color: rgba(238, 239, 241, 1);
    --accent-color: rgba(52, 84, 122, 1);
    --white-color: #FFFFFF;
}
.text__h2 {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
}
.text__h3 {
    font-family: "Roboto";
    font-size: 21px;
    font-weight: 500;
}
.text__p {
    font-family: "Roboto";
    font-size: 16px;
    color: rgba(114, 114, 114, 1);
}
.text__btn {
    color: var(--white-color);
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    text-align: center;
}
.header {
    background-color: var(--background-color);
    min-height: 700px;
}
.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 19px 50px 17px;
}
.logo {
    width: 96px;
    height: 60px;
}
.nav {
}
.nav__link {
    text-transform: uppercase;
    margin-right: 39px;
}
.nav__link a:hover {
    color: var(--accent-color);
}
.nav__link:last-child {
    margin-right: 10px;
}

.nav__link a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.1em;
}
.header__screen {
    display: flex;
    justify-content: space-around;
}
.screen__items {
    max-width: 540px;
    padding-top: 89px;
}
.item__img {
    padding-top: 22px;
    padding-left: 52px;
}
.screen__img {
}
.item__info {
    padding-left: 29px;
}
.title {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 48px;
}
.text__p_screen {
    margin-bottom: 70px;
}
.screen__btn {
    background-color: var(--accent-color);
    border: none;
    width: 225px;
    height: 65px;
    margin-left: 1px;
}
.text__btn_screen {
}
.about {

}
.about__info {
    max-width: 540px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 92px;
}
.text__h2_about {
    padding-top: 112px;
}
.text__p_about {
    padding-top: 40px;
    line-height: 1.6;
}
.numbers {
    background-color: var(--accent-color);
    padding: 100px;
    margin-bottom: 103px;
}
.numbers__grid {
    display: grid;
    grid-template-columns: repeat(6, 50px);
    padding-left: 20px;
    gap: 140px;
}
.numbers__item {
    max-width: 50px;
    min-height: 50px;
}
.numbers__img {
    color: var(--white-color);
}
.skills {
    margin-bottom: 100px;
}
.skills__flex {
    display: flex;
    justify-content: space-between;
}
.skills__list {
}
.text__h2_skills {
    padding-top: 102px;
    margin-bottom: 41px;
}
.skills__items {
    margin-bottom: 31px;
}
.text__p_skills {
    padding-bottom: 15px;
}
.progress__bar {
    display: flex;
    width: 445px;
    height: 4px;
    background-color: var(--accent-color);
}
.progress__bar_completed {
    background-color: rgba(196, 196, 196, 1);
}
.skills__img {
    max-width: 555px;
}
.skills__foto {
}
.video {
    background-color: var(--background-color);
    margin-bottom: 26px;
}
.video__title {
    max-width: 540px;
    margin: 0 auto;
    text-align: center;
}
.text__h2_video {
    padding-top: 100px;
}
.text__p_video {
    padding-top: 41px;
    line-height: 25px;
    margin-bottom: 51px;
}
.video__flex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}
.projects {
    margin-bottom: 26px;
}
.projects__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2;
}
.projects__items {
    max-width: 480px;
}
.projects__product {
}
.clients {
    padding-top: 47px;
    margin-bottom: 100px;
}
.clients__flex {
    display: flex;
    justify-content: space-around;
}
.clients__item {
    max-width: 255px;
}
.clients__img {
}
.form {
    background-color: var(--background-color);
}
.form__container {
    max-width: 540px;
    margin: 0 auto;
}
.text__h2_form {
    padding-top: 100px;
    text-align: center;
}
.text__p_form {
    padding-top: 40px;
    text-align: center;
    line-height: 25px;
}
.form__feedback {
    padding-top: 60px;
}
.feedback__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    
}
.name__form {
    min-width: 255px;
    min-height: 50px;
    border-style: none;
    padding-left: 20px;
    padding-top: 3px;
}
.email__form {
    min-width: 255px;
    min-height: 50px;
    border-style: none;
    padding-left: 20px;
    padding-top: 5px;
}
.feedback__message {
    margin-bottom: 45px;
}
.message__form {
    min-width: 540px;
    min-height: 175px;
    border-style: none;
    font-size: 15px;
    padding-left: 20px;
    padding-top: 15px;
}
.feedback__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}
.btn__form {
    min-width: 190px;
    min-height: 55px;
    background-color: var(--accent-color);
    border-style: none;
}
.text__p_btn {
    text-transform: uppercase;
    color: var(--white-color);
}
.footer {
    background-color: var(--accent-color);
    padding: 50px 0;
}
.footer__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__author {
    padding-left: 20px;
}
.text__h3_author {
    color: white;
    margin-bottom: 13px;
}
.text__p_author {
    color: white;
    font-size: 13px;
}
.contacts__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}
.footer__contacts {
    color: white;
    font-size: 40px;
}
